examples/flows_insight_test.json
[
    {
        "id": "insight-test-tab",
        "type": "tab",
        "label": "Insight TEST",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2e45e1e4eddefde",
        "type": "group",
        "z": "insight-test-tab",
        "name": "energiam automation, nodos energiam [node-red-contrib-device-simulator] y [node-red-dashboard-2-insight-energiam]",
        "style": {
            "stroke": "#92d04f",
            "stroke-opacity": "0.84",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#7f7f7f"
        },
        "nodes": [
            "insight-test-node",
            "0a2e1f5e2786c63b",
            "d3f491161e0026f4",
            "956b4d33dec4e8d4",
            "63c219259c5f19bd",
            "7b0b6a60e26d89a6"
        ],
        "x": 88,
        "y": 113,
        "w": 1164,
        "h": 348
    },
    {
        "id": "956b4d33dec4e8d4",
        "type": "group",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "Ejemplo 1 de Json para nodo Device simulator",
        "style": {
            "label": true
        },
        "nodes": [
            "ceb6486fc045435b",
            "441d78e46469b939"
        ],
        "x": 114,
        "y": 139,
        "w": 392,
        "h": 82
    },
    {
        "id": "63c219259c5f19bd",
        "type": "group",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "Ejemplo 2 de Json para nodo Device simulator",
        "style": {
            "label": true
        },
        "nodes": [
            "0c21afe09fa9fe23",
            "2b6f290c77498d77"
        ],
        "x": 114,
        "y": 239,
        "w": 392,
        "h": 82
    },
    {
        "id": "7b0b6a60e26d89a6",
        "type": "group",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "Simulador con nodos tradicionales",
        "style": {
            "label": true
        },
        "nodes": [
            "insight-test-inject",
            "insight-test-debug",
            "3a529a96b82dc6e3"
        ],
        "x": 534,
        "y": 139,
        "w": 692,
        "h": 82
    },
    {
        "id": "insight-test-node",
        "type": "ui-insight",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "Insight Test",
        "group": "insight-test-group",
        "order": 1,
        "width": 14,
        "height": "14",
        "defaultHoras": "0.25",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "0a2e1f5e2786c63b"
            ]
        ]
    },
    {
        "id": "0a2e1f5e2786c63b",
        "type": "function",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "Mock dinámico por rango",
        "func": "// ── Normalizar entrada según el tipo de acción ──────────────────────────\nlet desde, hasta;\n\nconst action = msg.payload && msg.payload.action;\nconst value  = msg.payload && msg.payload.value;\n\nif (action === 'set_horas') {\n    const horas = Math.min(value, 720);\n    hasta = Date.now();\n    desde = hasta - (horas * 3600000);\n} else if (action === 'save_state' && value) {\n    const state = value;\n    if (state.tpAbsoluto && state.tpFrom && state.tpTo) {\n        desde = new Date(state.tpFrom).getTime();\n        hasta = new Date(state.tpTo).getTime();\n    } else {\n        const horas = state.rangoActivo || 1;\n        hasta = Date.now();\n        desde = hasta - (horas * 3600000);\n    }\n} else {\n    return null;\n}\n\nif (!desde || !hasta || hasta <= desde) return null;\n\n// ── Generar series mock ──────────────────────────────────────────────────\nconst duracion     = hasta - desde;\nconst MAX_PUNTOS   = 2000;\nconst MIN_INTERVALO = 10000;\nconst intervalo    = Math.max(MIN_INTERVALO, Math.floor(duracion / MAX_PUNTOS));\nconst puntos       = Math.min(MAX_PUNTOS, Math.floor(duracion / intervalo));\n\nconst mkData = (fn, decimals = 3) => Array.from({ length: puntos }, (_, i) => [\n    desde + i * intervalo,\n    parseFloat(fn(i).toFixed(decimals))\n]);\n\nconst series = [\n    {\n        name: 'Circuito A · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 1.2 + Math.sin(i / 8) * 0.4),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#58a6ff' },\n        itemStyle: { color: '#58a6ff' }\n    },\n    {\n        name: 'Circuito B · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.8 + Math.cos(i / 6) * 0.3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#3fb950' },\n        itemStyle: { color: '#3fb950' }\n    },\n    {\n        name: 'Circuito C · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.5 + Math.sin(i / 10 + 1) * 0.2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#f78166' },\n        itemStyle: { color: '#f78166' }\n    },\n    {\n        name: 'Temperatura · °C', metric: '°C', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 22 + Math.sin(i / 12) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#F2CC0C' },\n        itemStyle: { color: '#F2CC0C' }\n    },\n    {\n        name: 'Circuito A · V', metric: 'V', type: 'line',\n        yAxisIndex: 2,\n        data: mkData(i => 220 + Math.sin(i / 15) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#d2a8ff' },\n        itemStyle: { color: '#d2a8ff' }\n    },\n    {\n        name: 'Circuito A · A', metric: 'A', type: 'line',\n        yAxisIndex: 3,\n        data: mkData(i => 5.5 + Math.sin(i / 8) * 1.8, 2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#ffa657' },\n        itemStyle: { color: '#ffa657' }\n    },\n    {\n        name: 'Red · Hz', metric: 'Hz', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 50 + (Math.sin(i / 5) * 0.03), 2),\n        smooth: false, connectNulls: false,\n        lineStyle: { width: 1, color: '#79c0ff' },\n        itemStyle: { color: '#79c0ff' }\n    },\n    {\n        name: 'Circuito A · cos φ', metric: 'cos φ', type: 'line',\n        yAxisIndex: 5,\n        data: mkData(i => 0.914 + Math.sin(i / 20) * 0.01, 3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#56d364' },\n        itemStyle: { color: '#56d364' }\n    }\n];\n\nconst colLabels = {\n    'Circuito A': 'col-circuito-a',\n    'Circuito B': 'col-circuito-b',\n    'Circuito C': 'col-circuito-c',\n    'Temperatura': 'col-temperatura',\n    'Red': 'col-red'\n};\n\n// ── Status ───────────────────────────────────────────────────────────────\nconst mins = Math.round(duracion / 60000);\nnode.status({ fill: 'green', shape: 'dot', text: `${puntos} pts · ${mins} min` });\n\nmsg.topic   = 'insight/data';\nmsg.payload = { series, colLabels };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 320,
        "wires": [
            [
                "insight-test-node"
            ]
        ]
    },
    {
        "id": "d3f491161e0026f4",
        "type": "device-simulator",
        "z": "insight-test-tab",
        "g": "d2e45e1e4eddefde",
        "name": "",
        "topic": "insight/data",
        "template": "{\n    \"series\": [\n        {\n            \"name\": \"Circuito A · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 1.2], [1773940225541, 1.25], [1773940235541, 1.299],\n                [1773940245541, 1.347], [1773940255541, 1.392], [1773940265541, 1.434],\n                [1773940275541, 1.473], [1773940285541, 1.507], [1773940295541, 1.537],\n                [1773940305541, 1.561], [1773940315541, 1.58], [1773940325541, 1.592],\n                [1773940335541, 1.599], [1773940345541, 1.599], [1773940355541, 1.594],\n                [1773940365541, 1.582], [1773940375541, 1.564], [1773940385541, 1.54],\n                [1773940395541, 1.511], [1773940405541, 1.477], [1773940415541, 1.439],\n                [1773940425541, 1.398], [1773940435541, 1.353], [1773940445541, 1.305],\n                [1773940455541, 1.256], [1773940465541, 1.207], [1773940475541, 1.157],\n                [1773940485541, 1.107], [1773940495541, 1.06], [1773940505541, 1.014],\n                [1773940515541, 0.971], [1773940525541, 0.932], [1773940535541, 0.897],\n                [1773940545541, 0.867], [1773940555541, 0.842], [1773940565541, 0.823],\n                [1773940575541, 0.809], [1773940585541, 0.802], [1773940595541, 0.8],\n                [1773940605541, 0.805], [1773940615541, 0.816], [1773940625541, 0.834],\n                [1773940635541, 0.856], [1773940645541, 0.885], [1773940655541, 0.918],\n                [1773940665541, 0.955], [1773940675541, 0.997], [1773940685541, 1.041],\n                [1773940695541, 1.088], [1773940705541, 1.137], [1773940715541, 1.187],\n                [1773940725541, 1.237], [1773940735541, 1.286], [1773940745541, 1.334],\n                [1773940755541, 1.38], [1773940765541, 1.423], [1773940775541, 1.463],\n                [1773940785541, 1.498], [1773940795541, 1.529], [1773940805541, 1.555],\n                [1773940815541, 1.575], [1773940825541, 1.59], [1773940835541, 1.598],\n                [1773940845541, 1.6], [1773940855541, 1.596], [1773940865541, 1.585],\n                [1773940875541, 1.569], [1773940885541, 1.547], [1773940895541, 1.519],\n                [1773940905541, 1.487], [1773940915541, 1.45], [1773940925541, 1.409],\n                [1773940935541, 1.365], [1773940945541, 1.318], [1773940955541, 1.27],\n                [1773940965541, 1.22], [1773940975541, 1.17], [1773940985541, 1.12],\n                [1773940995541, 1.072], [1773941005541, 1.026], [1773941015541, 0.982],\n                [1773941025541, 0.942], [1773941035541, 0.906], [1773941045541, 0.875],\n                [1773941055541, 0.848], [1773941065541, 0.827], [1773941075541, 0.812],\n                [1773941085541, 0.803], [1773941095541, 0.8], [1773941105541, 0.803]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#58a6ff\" },\n            \"itemStyle\": { \"color\": \"#58a6ff\" }\n        },\n        {\n            \"name\": \"Circuito B · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 1.1], [1773940225541, 1.096], [1773940235541, 1.083],\n                [1773940245541, 1.063], [1773940255541, 1.036], [1773940265541, 1.002],\n                [1773940275541, 0.962], [1773940285541, 0.918], [1773940295541, 0.871],\n                [1773940305541, 0.821], [1773940315541, 0.771], [1773940325541, 0.722],\n                [1773940335541, 0.675], [1773940345541, 0.632], [1773940355541, 0.593],\n                [1773940365541, 0.56], [1773940375541, 0.533], [1773940385541, 0.514],\n                [1773940395541, 0.503], [1773940405541, 0.5], [1773940415541, 0.505],\n                [1773940425541, 0.519], [1773940435541, 0.54], [1773940445541, 0.569],\n                [1773940455541, 0.604], [1773940465541, 0.644], [1773940475541, 0.689],\n                [1773940485541, 0.737], [1773940495541, 0.786], [1773940505541, 0.836],\n                [1773940515541, 0.885], [1773940525541, 0.932], [1773940535541, 0.975],\n                [1773940545541, 1.013], [1773940555541, 1.045], [1773940565541, 1.07],\n                [1773940575541, 1.088], [1773940585541, 1.098], [1773940595541, 1.1],\n                [1773940605541, 1.093], [1773940615541, 1.078], [1773940625541, 1.056],\n                [1773940635541, 1.026], [1773940645541, 0.99], [1773940655541, 0.949],\n                [1773940665541, 0.904], [1773940675541, 0.856], [1773940685541, 0.806],\n                [1773940695541, 0.756], [1773940705541, 0.708], [1773940715541, 0.662],\n                [1773940725541, 0.619], [1773940735541, 0.582], [1773940745541, 0.551],\n                [1773940755541, 0.527], [1773940765541, 0.51], [1773940775541, 0.501],\n                [1773940785541, 0.501], [1773940795541, 0.509], [1773940805541, 0.525],\n                [1773940815541, 0.548], [1773940825541, 0.579], [1773940835541, 0.616],\n                [1773940845541, 0.657], [1773940855541, 0.703], [1773940865541, 0.752],\n                [1773940875541, 0.801], [1773940885541, 0.851], [1773940895541, 0.899],\n                [1773940905541, 0.945], [1773940915541, 0.987], [1773940925541, 1.023],\n                [1773940935541, 1.053], [1773940945541, 1.076], [1773940955541, 1.092],\n                [1773940965541, 1.099], [1773940975541, 1.098], [1773940985541, 1.089],\n                [1773940995541, 1.072], [1773941005541, 1.048], [1773941015541, 1.016],\n                [1773941025541, 0.978], [1773941035541, 0.936], [1773941045541, 0.89],\n                [1773941055541, 0.841], [1773941065541, 0.791], [1773941075541, 0.742],\n                [1773941085541, 0.694], [1773941095541, 0.648], [1773941105541, 0.608]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#3fb950\" },\n            \"itemStyle\": { \"color\": \"#3fb950\" }\n        },\n        {\n            \"name\": \"Circuito C · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 0.668], [1773940225541, 0.678], [1773940235541, 0.686],\n                [1773940245541, 0.693], [1773940255541, 0.697], [1773940265541, 0.699],\n                [1773940275541, 0.7], [1773940285541, 0.698], [1773940295541, 0.695],\n                [1773940305541, 0.689], [1773940315541, 0.682], [1773940325541, 0.673],\n                [1773940335541, 0.662], [1773940345541, 0.649], [1773940355541, 0.635],\n                [1773940365541, 0.62], [1773940375541, 0.603], [1773940385541, 0.585],\n                [1773940395541, 0.567], [1773940405541, 0.548], [1773940415541, 0.528],\n                [1773940425541, 0.508], [1773940435541, 0.488], [1773940445541, 0.468],\n                [1773940455541, 0.449], [1773940465541, 0.43], [1773940475541, 0.411],\n                [1773940485541, 0.394], [1773940495541, 0.378], [1773940505541, 0.362],\n                [1773940515541, 0.349], [1773940525541, 0.336], [1773940535541, 0.326],\n                [1773940545541, 0.317], [1773940555541, 0.31], [1773940565541, 0.304],\n                [1773940575541, 0.301], [1773940585541, 0.3], [1773940595541, 0.301],\n                [1773940605541, 0.304], [1773940615541, 0.308], [1773940625541, 0.315],\n                [1773940635541, 0.323], [1773940645541, 0.334], [1773940655541, 0.345],\n                [1773940665541, 0.359], [1773940675541, 0.374], [1773940685541, 0.39],\n                [1773940695541, 0.407], [1773940705541, 0.425], [1773940715541, 0.444],\n                [1773940725541, 0.464], [1773940735541, 0.483], [1773940745541, 0.503],\n                [1773940755541, 0.523], [1773940765541, 0.543], [1773940775541, 0.562],\n                [1773940785541, 0.581], [1773940795541, 0.599], [1773940805541, 0.616],\n                [1773940815541, 0.631], [1773940825541, 0.646], [1773940835541, 0.659],\n                [1773940845541, 0.67], [1773940855541, 0.68], [1773940865541, 0.688],\n                [1773940875541, 0.694], [1773940885541, 0.698], [1773940895541, 0.7],\n                [1773940905541, 0.7], [1773940915541, 0.698], [1773940925541, 0.694],\n                [1773940935541, 0.688], [1773940945541, 0.68], [1773940955541, 0.671],\n                [1773940965541, 0.66], [1773940975541, 0.647], [1773940985541, 0.633],\n                [1773940995541, 0.617], [1773941005541, 0.6], [1773941015541, 0.582],\n                [1773941025541, 0.564], [1773941035541, 0.545], [1773941045541, 0.525],\n                [1773941055541, 0.505], [1773941065541, 0.485], [1773941075541, 0.465],\n                [1773941085541, 0.446], [1773941095541, 0.427], [1773941105541, 0.408]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#f78166\" },\n            \"itemStyle\": { \"color\": \"#f78166\" }\n        },\n        {\n            \"name\": \"Temperatura · °C\",\n            \"metric\": \"°C\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 1,\n            \"data\": [\n                [1773940215541, 22.0], [1773940225541, 22.125], [1773940235541, 22.249],\n                [1773940245541, 22.371], [1773940255541, 22.491], [1773940265541, 22.607],\n                [1773940275541, 22.719], [1773940285541, 22.826], [1773940295541, 22.928],\n                [1773940305541, 23.022], [1773940315541, 23.11], [1773940325541, 23.19],\n                [1773940335541, 23.262], [1773940345541, 23.325], [1773940355541, 23.379],\n                [1773940365541, 23.423], [1773940375541, 23.458], [1773940385541, 23.482],\n                [1773940395541, 23.496], [1773940405541, 23.5], [1773940415541, 23.493],\n                [1773940425541, 23.476], [1773940435541, 23.449], [1773940445541, 23.411],\n                [1773940455541, 23.364], [1773940465541, 23.307], [1773940475541, 23.241],\n                [1773940485541, 23.167], [1773940495541, 23.085], [1773940505541, 22.995],\n                [1773940515541, 22.898], [1773940525541, 22.795], [1773940535541, 22.686],\n                [1773940545541, 22.572], [1773940555541, 22.455], [1773940565541, 22.335],\n                [1773940575541, 22.212], [1773940585541, 22.087], [1773940595541, 21.962],\n                [1773940605541, 21.838], [1773940615541, 21.714], [1773940625541, 21.593],\n                [1773940635541, 21.474], [1773940645541, 21.359], [1773940655541, 21.248],\n                [1773940665541, 21.143], [1773940675541, 21.043], [1773940685541, 20.95],\n                [1773940695541, 20.865], [1773940705541, 20.787], [1773940715541, 20.718],\n                [1773940725541, 20.658], [1773940735541, 20.606], [1773940745541, 20.565],\n                [1773940755541, 20.534], [1773940765541, 20.512], [1773940775541, 20.502],\n                [1773940785541, 20.501], [1773940795541, 20.511], [1773940805541, 20.531],\n                [1773940815541, 20.562], [1773940825541, 20.602], [1773940835541, 20.652],\n                [1773940845541, 20.712], [1773940855541, 20.78], [1773940865541, 20.857],\n                [1773940875541, 20.942], [1773940885541, 21.034], [1773940895541, 21.133],\n                [1773940905541, 21.238], [1773940915541, 21.348], [1773940925541, 21.462],\n                [1773940935541, 21.581], [1773940945541, 21.702], [1773940955541, 21.826],\n                [1773940965541, 21.95], [1773940975541, 22.075], [1773940985541, 22.2],\n                [1773940995541, 22.323], [1773941005541, 22.443], [1773941015541, 22.561],\n                [1773941025541, 22.675], [1773941035541, 22.784], [1773941045541, 22.888],\n                [1773941055541, 22.985], [1773941065541, 23.076], [1773941075541, 23.159],\n                [1773941085541, 23.235], [1773941095541, 23.301], [1773941105541, 23.359]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#F2CC0C\" },\n            \"itemStyle\": { \"color\": \"#F2CC0C\" }\n        },\n        {\n            \"name\": \"Circuito A · V\",\n            \"metric\": \"V\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 2,\n            \"data\": [\n                [1773940215541, 219.4], [1773940225541, 219.6], [1773940235541, 219.9],\n                [1773940245541, 220.1], [1773940255541, 220.4], [1773940265541, 220.6],\n                [1773940275541, 220.8], [1773940285541, 220.9], [1773940295541, 221.0],\n                [1773940305541, 221.1], [1773940315541, 221.1], [1773940325541, 221.0],\n                [1773940335541, 220.9], [1773940345541, 220.7], [1773940355541, 220.5],\n                [1773940365541, 220.3], [1773940375541, 220.1], [1773940385541, 219.9],\n                [1773940395541, 219.7], [1773940405541, 219.5], [1773940415541, 219.4],\n                [1773940425541, 219.3], [1773940435541, 219.2], [1773940445541, 219.2],\n                [1773940455541, 219.3], [1773940465541, 219.4], [1773940475541, 219.6],\n                [1773940485541, 219.8], [1773940495541, 220.0], [1773940505541, 220.2],\n                [1773940515541, 220.5], [1773940525541, 220.7], [1773940535541, 220.9],\n                [1773940545541, 221.0], [1773940555541, 221.1], [1773940565541, 221.2],\n                [1773940575541, 221.2], [1773940585541, 221.1], [1773940595541, 221.0],\n                [1773940605541, 220.9], [1773940615541, 220.7], [1773940625541, 220.5],\n                [1773940635541, 220.3], [1773940645541, 220.1], [1773940655541, 219.9],\n                [1773940665541, 219.7], [1773940675541, 219.5], [1773940685541, 219.4],\n                [1773940695541, 219.3], [1773940705541, 219.2], [1773940715541, 219.2],\n                [1773940725541, 219.3], [1773940735541, 219.5], [1773940745541, 219.7],\n                [1773940755541, 219.9], [1773940765541, 220.1], [1773940775541, 220.3],\n                [1773940785541, 220.5], [1773940795541, 220.7], [1773940805541, 220.9],\n                [1773940815541, 221.0], [1773940825541, 221.1], [1773940835541, 221.2],\n                [1773940845541, 221.2], [1773940855541, 221.1], [1773940865541, 221.0],\n                [1773940875541, 220.8], [1773940885541, 220.6], [1773940895541, 220.4],\n                [1773940905541, 220.2], [1773940915541, 219.9], [1773940925541, 219.7],\n                [1773940935541, 219.5], [1773940945541, 219.3], [1773940955541, 219.2],\n                [1773940965541, 219.2], [1773940975541, 219.3], [1773940985541, 219.4],\n                [1773940995541, 219.6], [1773941005541, 219.8], [1773941015541, 220.0],\n                [1773941025541, 220.2], [1773941035541, 220.4], [1773941045541, 220.6],\n                [1773941055541, 220.8], [1773941065541, 220.9], [1773941075541, 221.0],\n                [1773941085541, 221.1], [1773941095541, 221.1], [1773941105541, 221.0]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#d2a8ff\" },\n            \"itemStyle\": { \"color\": \"#d2a8ff\" }\n        },\n        {\n            \"name\": \"Circuito A · A\",\n            \"metric\": \"A\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 3,\n            \"data\": [\n                [1773940215541, 5.47], [1773940225541, 5.69], [1773940235541, 5.91],\n                [1773940245541, 6.13], [1773940255541, 6.33], [1773940265541, 6.52],\n                [1773940275541, 6.70], [1773940285541, 6.86], [1773940295541, 7.00],\n                [1773940305541, 7.11], [1773940315541, 7.19], [1773940325541, 7.25],\n                [1773940335541, 7.28], [1773940345541, 7.28], [1773940355541, 7.25],\n                [1773940365541, 7.20], [1773940375541, 7.12], [1773940385541, 7.01],\n                [1773940395541, 6.88], [1773940405541, 6.73], [1773940415541, 6.55],\n                [1773940425541, 6.36], [1773940435541, 6.16], [1773940445541, 5.95],\n                [1773940455541, 5.73], [1773940465541, 5.50], [1773940475541, 5.28],\n                [1773940485541, 5.05], [1773940495541, 4.83], [1773940505541, 4.62],\n                [1773940515541, 4.43], [1773940525541, 4.25], [1773940535541, 4.09],\n                [1773940545541, 3.96], [1773940555541, 3.84], [1773940565541, 3.75],\n                [1773940575541, 3.69], [1773940585541, 3.66], [1773940595541, 3.65],\n                [1773940605541, 3.67], [1773940615541, 3.72], [1773940625541, 3.80],\n                [1773940635541, 3.91], [1773940645541, 4.04], [1773940655541, 4.19],\n                [1773940665541, 4.36], [1773940675541, 4.55], [1773940685541, 4.75],\n                [1773940695541, 4.96], [1773940705541, 5.18], [1773940715541, 5.41],\n                [1773940725541, 5.64], [1773940735541, 5.87], [1773940745541, 6.09],\n                [1773940755541, 6.29], [1773940765541, 6.49], [1773940775541, 6.67],\n                [1773940785541, 6.83], [1773940795541, 6.97], [1773940805541, 7.09],\n                [1773940815541, 7.18], [1773940825541, 7.25], [1773940835541, 7.29],\n                [1773940845541, 7.30], [1773940855541, 7.28], [1773940865541, 7.23],\n                [1773940875541, 7.16], [1773940885541, 7.06], [1773940895541, 6.93],\n                [1773940905541, 6.78], [1773940915541, 6.61], [1773940925541, 6.43],\n                [1773940935541, 6.23], [1773940945541, 6.02], [1773940955541, 5.80],\n                [1773940965541, 5.57], [1773940975541, 5.34], [1773940985541, 5.11],\n                [1773940995541, 4.89], [1773941005541, 4.68], [1773941015541, 4.48],\n                [1773941025541, 4.30], [1773941035541, 4.14], [1773941045541, 3.99],\n                [1773941055541, 3.87], [1773941065541, 3.77], [1773941075541, 3.70],\n                [1773941085541, 3.66], [1773941095541, 3.65], [1773941105541, 3.66]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#ffa657\" },\n            \"itemStyle\": { \"color\": \"#ffa657\" }\n        },\n        {\n            \"name\": \"Red · Hz\",\n            \"metric\": \"Hz\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 4,\n            \"data\": [\n                [1773940215541, 49.98], [1773940225541, 50.01], [1773940235541, 50.02],\n                [1773940245541, 49.99], [1773940255541, 50.00], [1773940265541, 50.03],\n                [1773940275541, 50.01], [1773940285541, 49.97], [1773940295541, 49.98],\n                [1773940305541, 50.00], [1773940315541, 50.02], [1773940325541, 50.01],\n                [1773940335541, 49.99], [1773940345541, 50.00], [1773940355541, 49.98],\n                [1773940365541, 50.01], [1773940375541, 50.03], [1773940385541, 50.02],\n                [1773940395541, 50.00], [1773940405541, 49.98], [1773940415541, 49.97],\n                [1773940425541, 50.00], [1773940435541, 50.01], [1773940445541, 50.02],\n                [1773940455541, 50.00], [1773940465541, 49.99], [1773940475541, 50.01],\n                [1773940485541, 50.02], [1773940495541, 50.00], [1773940505541, 49.98],\n                [1773940515541, 49.97], [1773940525541, 49.99], [1773940535541, 50.01],\n                [1773940545541, 50.02], [1773940555541, 50.00], [1773940565541, 49.98],\n                [1773940575541, 50.00], [1773940585541, 50.01], [1773940595541, 50.02],\n                [1773940605541, 50.00], [1773940615541, 49.99], [1773940625541, 49.97],\n                [1773940635541, 50.00], [1773940645541, 50.01], [1773940655541, 50.03],\n                [1773940665541, 50.02], [1773940675541, 50.00], [1773940685541, 49.98],\n                [1773940695541, 49.97], [1773940705541, 50.00], [1773940715541, 50.01],\n                [1773940725541, 50.02], [1773940735541, 50.00], [1773940745541, 49.99],\n                [1773940755541, 50.01], [1773940765541, 50.02], [1773940775541, 50.00],\n                [1773940785541, 49.98], [1773940795541, 49.97], [1773940805541, 50.00],\n                [1773940815541, 50.01], [1773940825541, 50.02], [1773940835541, 50.00],\n                [1773940845541, 49.99], [1773940855541, 49.97], [1773940865541, 50.00],\n                [1773940875541, 50.01], [1773940885541, 50.03], [1773940895541, 50.02],\n                [1773940905541, 50.00], [1773940915541, 49.98], [1773940925541, 49.97],\n                [1773940935541, 50.00], [1773940945541, 50.01], [1773940955541, 50.02],\n                [1773940965541, 50.00], [1773940975541, 49.99], [1773940985541, 50.01],\n                [1773940995541, 50.02], [1773941005541, 50.00], [1773941015541, 49.98],\n                [1773941025541, 49.97], [1773941035541, 50.00], [1773941045541, 50.01],\n                [1773941055541, 50.02], [1773941065541, 50.00], [1773941075541, 49.99],\n                [1773941085541, 49.97], [1773941095541, 50.00], [1773941105541, 50.01]\n            ],\n            \"smooth\": false, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#79c0ff\" },\n            \"itemStyle\": { \"color\": \"#79c0ff\" }\n        },\n        {\n            \"name\": \"Circuito A · cos φ\",\n            \"metric\": \"cos φ\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 5,\n            \"data\": [\n                [1773940215541, 0.91], [1773940225541, 0.912], [1773940235541, 0.914],\n                [1773940245541, 0.916], [1773940255541, 0.918], [1773940265541, 0.919],\n                [1773940275541, 0.921], [1773940285541, 0.922], [1773940295541, 0.923],\n                [1773940305541, 0.924], [1773940315541, 0.924], [1773940325541, 0.923],\n                [1773940335541, 0.922], [1773940345541, 0.921], [1773940355541, 0.919],\n                [1773940365541, 0.917], [1773940375541, 0.915], [1773940385541, 0.913],\n                [1773940395541, 0.911], [1773940405541, 0.909], [1773940415541, 0.907],\n                [1773940425541, 0.906], [1773940435541, 0.905], [1773940445541, 0.904],\n                [1773940455541, 0.904], [1773940465541, 0.905], [1773940475541, 0.906],\n                [1773940485541, 0.907], [1773940495541, 0.909], [1773940505541, 0.911],\n                [1773940515541, 0.913], [1773940525541, 0.915], [1773940535541, 0.917],\n                [1773940545541, 0.919], [1773940555541, 0.921], [1773940565541, 0.922],\n                [1773940575541, 0.923], [1773940585541, 0.924], [1773940595541, 0.924],\n                [1773940605541, 0.923], [1773940615541, 0.922], [1773940625541, 0.92],\n                [1773940635541, 0.918], [1773940645541, 0.916], [1773940655541, 0.914],\n                [1773940665541, 0.912], [1773940675541, 0.91], [1773940685541, 0.908],\n                [1773940695541, 0.906], [1773940705541, 0.905], [1773940715541, 0.904],\n                [1773940725541, 0.904], [1773940735541, 0.905], [1773940745541, 0.906],\n                [1773940755541, 0.908], [1773940765541, 0.91], [1773940775541, 0.912],\n                [1773940785541, 0.914], [1773940795541, 0.916], [1773940805541, 0.918],\n                [1773940815541, 0.92], [1773940825541, 0.921], [1773940835541, 0.922],\n                [1773940845541, 0.923], [1773940855541, 0.924], [1773940865541, 0.923],\n                [1773940875541, 0.922], [1773940885541, 0.921], [1773940895541, 0.919],\n                [1773940905541, 0.917], [1773940915541, 0.915], [1773940925541, 0.913],\n                [1773940935541, 0.911], [1773940945541, 0.909], [1773940955541, 0.907],\n                [1773940965541, 0.906], [1773940975541, 0.905], [1773940985541, 0.904],\n                [1773940995541, 0.904], [1773941005541, 0.905], [1773941015541, 0.907],\n                [1773941025541, 0.909], [1773941035541, 0.911], [1773941045541, 0.913],\n                [1773941055541, 0.915], [1773941065541, 0.917], [1773941075541, 0.919],\n                [1773941085541, 0.921], [1773941095541, 0.922], [1773941105541, 0.923]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#56d364\" },\n            \"itemStyle\": { \"color\": \"#56d364\" }\n        }\n    ],\n    \"colLabels\": {\n        \"Circuito A\": \"col-circuito-a\",\n        \"Circuito B\": \"col-circuito-b\",\n        \"Circuito C\": \"col-circuito-c\",\n        \"Temperatura\": \"col-temperatura\",\n        \"Red\": \"col-red\"\n    }\n}",
        "fields": "[]",
        "intervalMode": "fixed",
        "intervalFixed": "500000",
        "intervalMin": 1000,
        "intervalMax": 10000,
        "startupDelay": 0,
        "debugActive": true,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "insight-test-node"
            ]
        ]
    },
    {
        "id": "ceb6486fc045435b",
        "type": "comment",
        "z": "insight-test-tab",
        "g": "956b4d33dec4e8d4",
        "name": "Json_1",
        "info": "{\n    \"series\": [\n        {\n            \"name\": \"Circuito A · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [\n                    1773940215541,\n                    1.2\n                ],\n                [\n                    1773940225541,\n                    1.25\n                ],\n                [\n                    1773940235541,\n                    1.299\n                ],\n                [\n                    1773940245541,\n                    1.347\n                ],\n                [\n                    1773940255541,\n                    1.392\n                ],\n                [\n                    1773940265541,\n                    1.434\n                ],\n                [\n                    1773940275541,\n                    1.473\n                ],\n                [\n                    1773940285541,\n                    1.507\n                ],\n                [\n                    1773940295541,\n                    1.537\n                ],\n                [\n                    1773940305541,\n                    1.561\n                ],\n                [\n                    1773940315541,\n                    1.58\n                ],\n                [\n                    1773940325541,\n                    1.592\n                ],\n                [\n                    1773940335541,\n                    1.599\n                ],\n                [\n                    1773940345541,\n                    1.599\n                ],\n                [\n                    1773940355541,\n                    1.594\n                ],\n                [\n                    1773940365541,\n                    1.582\n                ],\n                [\n                    1773940375541,\n                    1.564\n                ],\n                [\n                    1773940385541,\n                    1.54\n                ],\n                [\n                    1773940395541,\n                    1.511\n                ],\n                [\n                    1773940405541,\n                    1.477\n                ],\n                [\n                    1773940415541,\n                    1.439\n                ],\n                [\n                    1773940425541,\n                    1.398\n                ],\n                [\n                    1773940435541,\n                    1.353\n                ],\n                [\n                    1773940445541,\n                    1.305\n                ],\n                [\n                    1773940455541,\n                    1.256\n                ],\n                [\n                    1773940465541,\n                    1.207\n                ],\n                [\n                    1773940475541,\n                    1.157\n                ],\n                [\n                    1773940485541,\n                    1.107\n                ],\n                [\n                    1773940495541,\n                    1.06\n                ],\n                [\n                    1773940505541,\n                    1.014\n                ],\n                [\n                    1773940515541,\n                    0.971\n                ],\n                [\n                    1773940525541,\n                    0.932\n                ],\n                [\n                    1773940535541,\n                    0.897\n                ],\n                [\n                    1773940545541,\n                    0.867\n                ],\n                [\n                    1773940555541,\n                    0.842\n                ],\n                [\n                    1773940565541,\n                    0.823\n                ],\n                [\n                    1773940575541,\n                    0.809\n                ],\n                [\n                    1773940585541,\n                    0.802\n                ],\n                [\n                    1773940595541,\n                    0.8\n                ],\n                [\n                    1773940605541,\n                    0.805\n                ],\n                [\n                    1773940615541,\n                    0.816\n                ],\n                [\n                    1773940625541,\n                    0.834\n                ],\n                [\n                    1773940635541,\n                    0.856\n                ],\n                [\n                    1773940645541,\n                    0.885\n                ],\n                [\n                    1773940655541,\n                    0.918\n                ],\n                [\n                    1773940665541,\n                    0.955\n                ],\n                [\n                    1773940675541,\n                    0.997\n                ],\n                [\n                    1773940685541,\n                    1.041\n                ],\n                [\n                    1773940695541,\n                    1.088\n                ],\n                [\n                    1773940705541,\n                    1.137\n                ],\n                [\n                    1773940715541,\n                    1.187\n                ],\n                [\n                    1773940725541,\n                    1.237\n                ],\n                [\n                    1773940735541,\n                    1.286\n                ],\n                [\n                    1773940745541,\n                    1.334\n                ],\n                [\n                    1773940755541,\n                    1.38\n                ],\n                [\n                    1773940765541,\n                    1.423\n                ],\n                [\n                    1773940775541,\n                    1.463\n                ],\n                [\n                    1773940785541,\n                    1.498\n                ],\n                [\n                    1773940795541,\n                    1.529\n                ],\n                [\n                    1773940805541,\n                    1.555\n                ],\n                [\n                    1773940815541,\n                    1.575\n                ],\n                [\n                    1773940825541,\n                    1.59\n                ],\n                [\n                    1773940835541,\n                    1.598\n                ],\n                [\n                    1773940845541,\n                    1.6\n                ],\n                [\n                    1773940855541,\n                    1.596\n                ],\n                [\n                    1773940865541,\n                    1.585\n                ],\n                [\n                    1773940875541,\n                    1.569\n                ],\n                [\n                    1773940885541,\n                    1.547\n                ],\n                [\n                    1773940895541,\n                    1.519\n                ],\n                [\n                    1773940905541,\n                    1.487\n                ],\n                [\n                    1773940915541,\n                    1.45\n                ],\n                [\n                    1773940925541,\n                    1.409\n                ],\n                [\n                    1773940935541,\n                    1.365\n                ],\n                [\n                    1773940945541,\n                    1.318\n                ],\n                [\n                    1773940955541,\n                    1.27\n                ],\n                [\n                    1773940965541,\n                    1.22\n                ],\n                [\n                    1773940975541,\n                    1.17\n                ],\n                [\n                    1773940985541,\n                    1.12\n                ],\n                [\n                    1773940995541,\n                    1.072\n                ],\n                [\n                    1773941005541,\n                    1.026\n                ],\n                [\n                    1773941015541,\n                    0.982\n                ],\n                [\n                    1773941025541,\n                    0.942\n                ],\n                [\n                    1773941035541,\n                    0.906\n                ],\n                [\n                    1773941045541,\n                    0.875\n                ],\n                [\n                    1773941055541,\n                    0.848\n                ],\n                [\n                    1773941065541,\n                    0.827\n                ],\n                [\n                    1773941075541,\n                    0.812\n                ],\n                [\n                    1773941085541,\n                    0.803\n                ],\n                [\n                    1773941095541,\n                    0.8\n                ],\n                [\n                    1773941105541,\n                    0.803\n                ]\n            ],\n            \"smooth\": true,\n            \"connectNulls\": false,\n            \"lineStyle\": {\n                \"width\": 1,\n                \"color\": \"#58a6ff\"\n            },\n            \"itemStyle\": {\n                \"color\": \"#58a6ff\"\n            }\n        },\n        {\n            \"name\": \"Circuito B · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [\n                    1773940215541,\n                    1.1\n                ],\n                [\n                    1773940225541,\n                    1.096\n                ],\n                [\n                    1773940235541,\n                    1.083\n                ],\n                [\n                    1773940245541,\n                    1.063\n                ],\n                [\n                    1773940255541,\n                    1.036\n                ],\n                [\n                    1773940265541,\n                    1.002\n                ],\n                [\n                    1773940275541,\n                    0.962\n                ],\n                [\n                    1773940285541,\n                    0.918\n                ],\n                [\n                    1773940295541,\n                    0.871\n                ],\n                [\n                    1773940305541,\n                    0.821\n                ],\n                [\n                    1773940315541,\n                    0.771\n                ],\n                [\n                    1773940325541,\n                    0.722\n                ],\n                [\n                    1773940335541,\n                    0.675\n                ],\n                [\n                    1773940345541,\n                    0.632\n                ],\n                [\n                    1773940355541,\n                    0.593\n                ],\n                [\n                    1773940365541,\n                    0.56\n                ],\n                [\n                    1773940375541,\n                    0.533\n                ],\n                [\n                    1773940385541,\n                    0.514\n                ],\n                [\n                    1773940395541,\n                    0.503\n                ],\n                [\n                    1773940405541,\n                    0.5\n                ],\n                [\n                    1773940415541,\n                    0.505\n                ],\n                [\n                    1773940425541,\n                    0.519\n                ],\n                [\n                    1773940435541,\n                    0.54\n                ],\n                [\n                    1773940445541,\n                    0.569\n                ],\n                [\n                    1773940455541,\n                    0.604\n                ],\n                [\n                    1773940465541,\n                    0.644\n                ],\n                [\n                    1773940475541,\n                    0.689\n                ],\n                [\n                    1773940485541,\n                    0.737\n                ],\n                [\n                    1773940495541,\n                    0.786\n                ],\n                [\n                    1773940505541,\n                    0.836\n                ],\n                [\n                    1773940515541,\n                    0.885\n                ],\n                [\n                    1773940525541,\n                    0.932\n                ],\n                [\n                    1773940535541,\n                    0.975\n                ],\n                [\n                    1773940545541,\n                    1.013\n                ],\n                [\n                    1773940555541,\n                    1.045\n                ],\n                [\n                    1773940565541,\n                    1.07\n                ],\n                [\n                    1773940575541,\n                    1.088\n                ],\n                [\n                    1773940585541,\n                    1.098\n                ],\n                [\n                    1773940595541,\n                    1.1\n                ],\n                [\n                    1773940605541,\n                    1.093\n                ],\n                [\n                    1773940615541,\n                    1.078\n                ],\n                [\n                    1773940625541,\n                    1.056\n                ],\n                [\n                    1773940635541,\n                    1.026\n                ],\n                [\n                    1773940645541,\n                    0.99\n                ],\n                [\n                    1773940655541,\n                    0.949\n                ],\n                [\n                    1773940665541,\n                    0.904\n                ],\n                [\n                    1773940675541,\n                    0.856\n                ],\n                [\n                    1773940685541,\n                    0.806\n                ],\n                [\n                    1773940695541,\n                    0.756\n                ],\n                [\n                    1773940705541,\n                    0.708\n                ],\n                [\n                    1773940715541,\n                    0.662\n                ],\n                [\n                    1773940725541,\n                    0.619\n                ],\n                [\n                    1773940735541,\n                    0.582\n                ],\n                [\n                    1773940745541,\n                    0.551\n                ],\n                [\n                    1773940755541,\n                    0.527\n                ],\n                [\n                    1773940765541,\n                    0.51\n                ],\n                [\n                    1773940775541,\n                    0.501\n                ],\n                [\n                    1773940785541,\n                    0.501\n                ],\n                [\n                    1773940795541,\n                    0.509\n                ],\n                [\n                    1773940805541,\n                    0.525\n                ],\n                [\n                    1773940815541,\n                    0.548\n                ],\n                [\n                    1773940825541,\n                    0.579\n                ],\n                [\n                    1773940835541,\n                    0.616\n                ],\n                [\n                    1773940845541,\n                    0.657\n                ],\n                [\n                    1773940855541,\n                    0.703\n                ],\n                [\n                    1773940865541,\n                    0.752\n                ],\n                [\n                    1773940875541,\n                    0.801\n                ],\n                [\n                    1773940885541,\n                    0.851\n                ],\n                [\n                    1773940895541,\n                    0.899\n                ],\n                [\n                    1773940905541,\n                    0.945\n                ],\n                [\n                    1773940915541,\n                    0.987\n                ],\n                [\n                    1773940925541,\n                    1.023\n                ],\n                [\n                    1773940935541,\n                    1.053\n                ],\n                [\n                    1773940945541,\n                    1.076\n                ],\n                [\n                    1773940955541,\n                    1.092\n                ],\n                [\n                    1773940965541,\n                    1.099\n                ],\n                [\n                    1773940975541,\n                    1.098\n                ],\n                [\n                    1773940985541,\n                    1.089\n                ],\n                [\n                    1773940995541,\n                    1.072\n                ],\n                [\n                    1773941005541,\n                    1.048\n                ],\n                [\n                    1773941015541,\n                    1.016\n                ],\n                [\n                    1773941025541,\n                    0.978\n                ],\n                [\n                    1773941035541,\n                    0.936\n                ],\n                [\n                    1773941045541,\n                    0.89\n                ],\n                [\n                    1773941055541,\n                    0.841\n                ],\n                [\n                    1773941065541,\n                    0.791\n                ],\n                [\n                    1773941075541,\n                    0.742\n                ],\n                [\n                    1773941085541,\n                    0.694\n                ],\n                [\n                    1773941095541,\n                    0.648\n                ],\n                [\n                    1773941105541,\n                    0.608\n                ]\n            ],\n            \"smooth\": true,\n            \"connectNulls\": false,\n            \"lineStyle\": {\n                \"width\": 1,\n                \"color\": \"#3fb950\"\n            },\n            \"itemStyle\": {\n                \"color\": \"#3fb950\"\n            }\n        },\n        {\n            \"name\": \"Circuito C · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [\n                    1773940215541,\n                    0.668\n                ],\n                [\n                    1773940225541,\n                    0.678\n                ],\n                [\n                    1773940235541,\n                    0.686\n                ],\n                [\n                    1773940245541,\n                    0.693\n                ],\n                [\n                    1773940255541,\n                    0.697\n                ],\n                [\n                    1773940265541,\n                    0.699\n                ],\n                [\n                    1773940275541,\n                    0.7\n                ],\n                [\n                    1773940285541,\n                    0.698\n                ],\n                [\n                    1773940295541,\n                    0.695\n                ],\n                [\n                    1773940305541,\n                    0.689\n                ],\n                [\n                    1773940315541,\n                    0.682\n                ],\n                [\n                    1773940325541,\n                    0.673\n                ],\n                [\n                    1773940335541,\n                    0.662\n                ],\n                [\n                    1773940345541,\n                    0.649\n                ],\n                [\n                    1773940355541,\n                    0.635\n                ],\n                [\n                    1773940365541,\n                    0.62\n                ],\n                [\n                    1773940375541,\n                    0.603\n                ],\n                [\n                    1773940385541,\n                    0.585\n                ],\n                [\n                    1773940395541,\n                    0.567\n                ],\n                [\n                    1773940405541,\n                    0.548\n                ],\n                [\n                    1773940415541,\n                    0.528\n                ],\n                [\n                    1773940425541,\n                    0.508\n                ],\n                [\n                    1773940435541,\n                    0.488\n                ],\n                [\n                    1773940445541,\n                    0.468\n                ],\n                [\n                    1773940455541,\n                    0.449\n                ],\n                [\n                    1773940465541,\n                    0.43\n                ],\n                [\n                    1773940475541,\n                    0.411\n                ],\n                [\n                    1773940485541,\n                    0.394\n                ],\n                [\n                    1773940495541,\n                    0.378\n                ],\n                [\n                    1773940505541,\n                    0.362\n                ],\n                [\n                    1773940515541,\n                    0.349\n                ],\n                [\n                    1773940525541,\n                    0.336\n                ],\n                [\n                    1773940535541,\n                    0.326\n                ],\n                [\n                    1773940545541,\n                    0.317\n                ],\n                [\n                    1773940555541,\n                    0.31\n                ],\n                [\n                    1773940565541,\n                    0.304\n                ],\n                [\n                    1773940575541,\n                    0.301\n                ],\n                [\n                    1773940585541,\n                    0.3\n                ],\n                [\n                    1773940595541,\n                    0.301\n                ],\n                [\n                    1773940605541,\n                    0.304\n                ],\n                [\n                    1773940615541,\n                    0.308\n                ],\n                [\n                    1773940625541,\n                    0.315\n                ],\n                [\n                    1773940635541,\n                    0.323\n                ],\n                [\n                    1773940645541,\n                    0.334\n                ],\n                [\n                    1773940655541,\n                    0.345\n                ],\n                [\n                    1773940665541,\n                    0.359\n                ],\n                [\n                    1773940675541,\n                    0.374\n                ],\n                [\n                    1773940685541,\n                    0.39\n                ],\n                [\n                    1773940695541,\n                    0.407\n                ],\n                [\n                    1773940705541,\n                    0.425\n                ],\n                [\n                    1773940715541,\n                    0.444\n                ],\n                [\n                    1773940725541,\n                    0.464\n                ],\n                [\n                    1773940735541,\n                    0.483\n                ],\n                [\n                    1773940745541,\n                    0.503\n                ],\n                [\n                    1773940755541,\n                    0.523\n                ],\n                [\n                    1773940765541,\n                    0.543\n                ],\n                [\n                    1773940775541,\n                    0.562\n                ],\n                [\n                    1773940785541,\n                    0.581\n                ],\n                [\n                    1773940795541,\n                    0.599\n                ],\n                [\n                    1773940805541,\n                    0.616\n                ],\n                [\n                    1773940815541,\n                    0.631\n                ],\n                [\n                    1773940825541,\n                    0.646\n                ],\n                [\n                    1773940835541,\n                    0.659\n                ],\n                [\n                    1773940845541,\n                    0.67\n                ],\n                [\n                    1773940855541,\n                    0.68\n                ],\n                [\n                    1773940865541,\n                    0.688\n                ],\n                [\n                    1773940875541,\n                    0.694\n                ],\n                [\n                    1773940885541,\n                    0.698\n                ],\n                [\n                    1773940895541,\n                    0.7\n                ],\n                [\n                    1773940905541,\n                    0.7\n                ],\n                [\n                    1773940915541,\n                    0.698\n                ],\n                [\n                    1773940925541,\n                    0.694\n                ],\n                [\n                    1773940935541,\n                    0.688\n                ],\n                [\n                    1773940945541,\n                    0.68\n                ],\n                [\n                    1773940955541,\n                    0.671\n                ],\n                [\n                    1773940965541,\n                    0.66\n                ],\n                [\n                    1773940975541,\n                    0.647\n                ],\n                [\n                    1773940985541,\n                    0.633\n                ],\n                [\n                    1773940995541,\n                    0.617\n                ],\n                [\n                    1773941005541,\n                    0.6\n                ],\n                [\n                    1773941015541,\n                    0.582\n                ],\n                [\n                    1773941025541,\n                    0.564\n                ],\n                [\n                    1773941035541,\n                    0.545\n                ],\n                [\n                    1773941045541,\n                    0.525\n                ],\n                [\n                    1773941055541,\n                    0.505\n                ],\n                [\n                    1773941065541,\n                    0.485\n                ],\n                [\n                    1773941075541,\n                    0.465\n                ],\n                [\n                    1773941085541,\n                    0.446\n                ],\n                [\n                    1773941095541,\n                    0.427\n                ],\n                [\n                    1773941105541,\n                    0.408\n                ]\n            ],\n            \"smooth\": true,\n            \"connectNulls\": false,\n            \"lineStyle\": {\n                \"width\": 1,\n                \"color\": \"#f78166\"\n            },\n            \"itemStyle\": {\n                \"color\": \"#f78166\"\n            }\n        },\n        {\n            \"name\": \"Temperatura · °C\",\n            \"metric\": \"°C\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 1,\n            \"data\": [\n                [\n                    1773940215541,\n                    22\n                ],\n                [\n                    1773940225541,\n                    22.125\n                ],\n                [\n                    1773940235541,\n                    22.249\n                ],\n                [\n                    1773940245541,\n                    22.371\n                ],\n                [\n                    1773940255541,\n                    22.491\n                ],\n                [\n                    1773940265541,\n                    22.607\n                ],\n                [\n                    1773940275541,\n                    22.719\n                ],\n                [\n                    1773940285541,\n                    22.826\n                ],\n                [\n                    1773940295541,\n                    22.928\n                ],\n                [\n                    1773940305541,\n                    23.022\n                ],\n                [\n                    1773940315541,\n                    23.11\n                ],\n                [\n                    1773940325541,\n                    23.19\n                ],\n                [\n                    1773940335541,\n                    23.262\n                ],\n                [\n                    1773940345541,\n                    23.325\n                ],\n                [\n                    1773940355541,\n                    23.379\n                ],\n                [\n                    1773940365541,\n                    23.423\n                ],\n                [\n                    1773940375541,\n                    23.458\n                ],\n                [\n                    1773940385541,\n                    23.482\n                ],\n                [\n                    1773940395541,\n                    23.496\n                ],\n                [\n                    1773940405541,\n                    23.5\n                ],\n                [\n                    1773940415541,\n                    23.493\n                ],\n                [\n                    1773940425541,\n                    23.476\n                ],\n                [\n                    1773940435541,\n                    23.449\n                ],\n                [\n                    1773940445541,\n                    23.411\n                ],\n                [\n                    1773940455541,\n                    23.364\n                ],\n                [\n                    1773940465541,\n                    23.307\n                ],\n                [\n                    1773940475541,\n                    23.241\n                ],\n                [\n                    1773940485541,\n                    23.167\n                ],\n                [\n                    1773940495541,\n                    23.085\n                ],\n                [\n                    1773940505541,\n                    22.995\n                ],\n                [\n                    1773940515541,\n                    22.898\n                ],\n                [\n                    1773940525541,\n                    22.795\n                ],\n                [\n                    1773940535541,\n                    22.686\n                ],\n                [\n                    1773940545541,\n                    22.572\n                ],\n                [\n                    1773940555541,\n                    22.455\n                ],\n                [\n                    1773940565541,\n                    22.335\n                ],\n                [\n                    1773940575541,\n                    22.212\n                ],\n                [\n                    1773940585541,\n                    22.087\n                ],\n                [\n                    1773940595541,\n                    21.962\n                ],\n                [\n                    1773940605541,\n                    21.838\n                ],\n                [\n                    1773940615541,\n                    21.714\n                ],\n                [\n                    1773940625541,\n                    21.593\n                ],\n                [\n                    1773940635541,\n                    21.474\n                ],\n                [\n                    1773940645541,\n                    21.359\n                ],\n                [\n                    1773940655541,\n                    21.248\n                ],\n                [\n                    1773940665541,\n                    21.143\n                ],\n                [\n                    1773940675541,\n                    21.043\n                ],\n                [\n                    1773940685541,\n                    20.95\n                ],\n                [\n                    1773940695541,\n                    20.865\n                ],\n                [\n                    1773940705541,\n                    20.787\n                ],\n                [\n                    1773940715541,\n                    20.718\n                ],\n                [\n                    1773940725541,\n                    20.658\n                ],\n                [\n                    1773940735541,\n                    20.606\n                ],\n                [\n                    1773940745541,\n                    20.565\n                ],\n                [\n                    1773940755541,\n                    20.534\n                ],\n                [\n                    1773940765541,\n                    20.512\n                ],\n                [\n                    1773940775541,\n                    20.502\n                ],\n                [\n                    1773940785541,\n                    20.501\n                ],\n                [\n                    1773940795541,\n                    20.511\n                ],\n                [\n                    1773940805541,\n                    20.531\n                ],\n                [\n                    1773940815541,\n                    20.562\n                ],\n                [\n                    1773940825541,\n                    20.602\n                ],\n                [\n                    1773940835541,\n                    20.652\n                ],\n                [\n                    1773940845541,\n                    20.712\n                ],\n                [\n                    1773940855541,\n                    20.78\n                ],\n                [\n                    1773940865541,\n                    20.857\n                ],\n                [\n                    1773940875541,\n                    20.942\n                ],\n                [\n                    1773940885541,\n                    21.034\n                ],\n                [\n                    1773940895541,\n                    21.133\n                ],\n                [\n                    1773940905541,\n                    21.238\n                ],\n                [\n                    1773940915541,\n                    21.348\n                ],\n                [\n                    1773940925541,\n                    21.462\n                ],\n                [\n                    1773940935541,\n                    21.581\n                ],\n                [\n                    1773940945541,\n                    21.702\n                ],\n                [\n                    1773940955541,\n                    21.826\n                ],\n                [\n                    1773940965541,\n                    21.95\n                ],\n                [\n                    1773940975541,\n                    22.075\n                ],\n                [\n                    1773940985541,\n                    22.2\n                ],\n                [\n                    1773940995541,\n                    22.323\n                ],\n                [\n                    1773941005541,\n                    22.443\n                ],\n                [\n                    1773941015541,\n                    22.561\n                ],\n                [\n                    1773941025541,\n                    22.675\n                ],\n                [\n                    1773941035541,\n                    22.784\n                ],\n                [\n                    1773941045541,\n                    22.888\n                ],\n                [\n                    1773941055541,\n                    22.985\n                ],\n                [\n                    1773941065541,\n                    23.076\n                ],\n                [\n                    1773941075541,\n                    23.159\n                ],\n                [\n                    1773941085541,\n                    23.235\n                ],\n                [\n                    1773941095541,\n                    23.301\n                ],\n                [\n                    1773941105541,\n                    23.359\n                ]\n            ],\n            \"smooth\": true,\n            \"connectNulls\": false,\n            \"lineStyle\": {\n                \"width\": 1,\n                \"color\": \"#F2CC0C\"\n            },\n            \"itemStyle\": {\n                \"color\": \"#F2CC0C\"\n            }\n        }\n    ],\n    \"colLabels\": {\n        \"Circuito A\": \"col-circuito-a\",\n        \"Circuito B\": \"col-circuito-b\",\n        \"Circuito C\": \"col-circuito-c\"\n    }\n}",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "0c21afe09fa9fe23",
        "type": "comment",
        "z": "insight-test-tab",
        "g": "63c219259c5f19bd",
        "name": "Json_2",
        "info": "{\n    \"series\": [\n        {\n            \"name\": \"Circuito A · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 1.2], [1773940225541, 1.25], [1773940235541, 1.299],\n                [1773940245541, 1.347], [1773940255541, 1.392], [1773940265541, 1.434],\n                [1773940275541, 1.473], [1773940285541, 1.507], [1773940295541, 1.537],\n                [1773940305541, 1.561], [1773940315541, 1.58], [1773940325541, 1.592],\n                [1773940335541, 1.599], [1773940345541, 1.599], [1773940355541, 1.594],\n                [1773940365541, 1.582], [1773940375541, 1.564], [1773940385541, 1.54],\n                [1773940395541, 1.511], [1773940405541, 1.477], [1773940415541, 1.439],\n                [1773940425541, 1.398], [1773940435541, 1.353], [1773940445541, 1.305],\n                [1773940455541, 1.256], [1773940465541, 1.207], [1773940475541, 1.157],\n                [1773940485541, 1.107], [1773940495541, 1.06], [1773940505541, 1.014],\n                [1773940515541, 0.971], [1773940525541, 0.932], [1773940535541, 0.897],\n                [1773940545541, 0.867], [1773940555541, 0.842], [1773940565541, 0.823],\n                [1773940575541, 0.809], [1773940585541, 0.802], [1773940595541, 0.8],\n                [1773940605541, 0.805], [1773940615541, 0.816], [1773940625541, 0.834],\n                [1773940635541, 0.856], [1773940645541, 0.885], [1773940655541, 0.918],\n                [1773940665541, 0.955], [1773940675541, 0.997], [1773940685541, 1.041],\n                [1773940695541, 1.088], [1773940705541, 1.137], [1773940715541, 1.187],\n                [1773940725541, 1.237], [1773940735541, 1.286], [1773940745541, 1.334],\n                [1773940755541, 1.38], [1773940765541, 1.423], [1773940775541, 1.463],\n                [1773940785541, 1.498], [1773940795541, 1.529], [1773940805541, 1.555],\n                [1773940815541, 1.575], [1773940825541, 1.59], [1773940835541, 1.598],\n                [1773940845541, 1.6], [1773940855541, 1.596], [1773940865541, 1.585],\n                [1773940875541, 1.569], [1773940885541, 1.547], [1773940895541, 1.519],\n                [1773940905541, 1.487], [1773940915541, 1.45], [1773940925541, 1.409],\n                [1773940935541, 1.365], [1773940945541, 1.318], [1773940955541, 1.27],\n                [1773940965541, 1.22], [1773940975541, 1.17], [1773940985541, 1.12],\n                [1773940995541, 1.072], [1773941005541, 1.026], [1773941015541, 0.982],\n                [1773941025541, 0.942], [1773941035541, 0.906], [1773941045541, 0.875],\n                [1773941055541, 0.848], [1773941065541, 0.827], [1773941075541, 0.812],\n                [1773941085541, 0.803], [1773941095541, 0.8], [1773941105541, 0.803]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#58a6ff\" },\n            \"itemStyle\": { \"color\": \"#58a6ff\" }\n        },\n        {\n            \"name\": \"Circuito B · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 1.1], [1773940225541, 1.096], [1773940235541, 1.083],\n                [1773940245541, 1.063], [1773940255541, 1.036], [1773940265541, 1.002],\n                [1773940275541, 0.962], [1773940285541, 0.918], [1773940295541, 0.871],\n                [1773940305541, 0.821], [1773940315541, 0.771], [1773940325541, 0.722],\n                [1773940335541, 0.675], [1773940345541, 0.632], [1773940355541, 0.593],\n                [1773940365541, 0.56], [1773940375541, 0.533], [1773940385541, 0.514],\n                [1773940395541, 0.503], [1773940405541, 0.5], [1773940415541, 0.505],\n                [1773940425541, 0.519], [1773940435541, 0.54], [1773940445541, 0.569],\n                [1773940455541, 0.604], [1773940465541, 0.644], [1773940475541, 0.689],\n                [1773940485541, 0.737], [1773940495541, 0.786], [1773940505541, 0.836],\n                [1773940515541, 0.885], [1773940525541, 0.932], [1773940535541, 0.975],\n                [1773940545541, 1.013], [1773940555541, 1.045], [1773940565541, 1.07],\n                [1773940575541, 1.088], [1773940585541, 1.098], [1773940595541, 1.1],\n                [1773940605541, 1.093], [1773940615541, 1.078], [1773940625541, 1.056],\n                [1773940635541, 1.026], [1773940645541, 0.99], [1773940655541, 0.949],\n                [1773940665541, 0.904], [1773940675541, 0.856], [1773940685541, 0.806],\n                [1773940695541, 0.756], [1773940705541, 0.708], [1773940715541, 0.662],\n                [1773940725541, 0.619], [1773940735541, 0.582], [1773940745541, 0.551],\n                [1773940755541, 0.527], [1773940765541, 0.51], [1773940775541, 0.501],\n                [1773940785541, 0.501], [1773940795541, 0.509], [1773940805541, 0.525],\n                [1773940815541, 0.548], [1773940825541, 0.579], [1773940835541, 0.616],\n                [1773940845541, 0.657], [1773940855541, 0.703], [1773940865541, 0.752],\n                [1773940875541, 0.801], [1773940885541, 0.851], [1773940895541, 0.899],\n                [1773940905541, 0.945], [1773940915541, 0.987], [1773940925541, 1.023],\n                [1773940935541, 1.053], [1773940945541, 1.076], [1773940955541, 1.092],\n                [1773940965541, 1.099], [1773940975541, 1.098], [1773940985541, 1.089],\n                [1773940995541, 1.072], [1773941005541, 1.048], [1773941015541, 1.016],\n                [1773941025541, 0.978], [1773941035541, 0.936], [1773941045541, 0.89],\n                [1773941055541, 0.841], [1773941065541, 0.791], [1773941075541, 0.742],\n                [1773941085541, 0.694], [1773941095541, 0.648], [1773941105541, 0.608]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#3fb950\" },\n            \"itemStyle\": { \"color\": \"#3fb950\" }\n        },\n        {\n            \"name\": \"Circuito C · kW\",\n            \"metric\": \"kW\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 0,\n            \"data\": [\n                [1773940215541, 0.668], [1773940225541, 0.678], [1773940235541, 0.686],\n                [1773940245541, 0.693], [1773940255541, 0.697], [1773940265541, 0.699],\n                [1773940275541, 0.7], [1773940285541, 0.698], [1773940295541, 0.695],\n                [1773940305541, 0.689], [1773940315541, 0.682], [1773940325541, 0.673],\n                [1773940335541, 0.662], [1773940345541, 0.649], [1773940355541, 0.635],\n                [1773940365541, 0.62], [1773940375541, 0.603], [1773940385541, 0.585],\n                [1773940395541, 0.567], [1773940405541, 0.548], [1773940415541, 0.528],\n                [1773940425541, 0.508], [1773940435541, 0.488], [1773940445541, 0.468],\n                [1773940455541, 0.449], [1773940465541, 0.43], [1773940475541, 0.411],\n                [1773940485541, 0.394], [1773940495541, 0.378], [1773940505541, 0.362],\n                [1773940515541, 0.349], [1773940525541, 0.336], [1773940535541, 0.326],\n                [1773940545541, 0.317], [1773940555541, 0.31], [1773940565541, 0.304],\n                [1773940575541, 0.301], [1773940585541, 0.3], [1773940595541, 0.301],\n                [1773940605541, 0.304], [1773940615541, 0.308], [1773940625541, 0.315],\n                [1773940635541, 0.323], [1773940645541, 0.334], [1773940655541, 0.345],\n                [1773940665541, 0.359], [1773940675541, 0.374], [1773940685541, 0.39],\n                [1773940695541, 0.407], [1773940705541, 0.425], [1773940715541, 0.444],\n                [1773940725541, 0.464], [1773940735541, 0.483], [1773940745541, 0.503],\n                [1773940755541, 0.523], [1773940765541, 0.543], [1773940775541, 0.562],\n                [1773940785541, 0.581], [1773940795541, 0.599], [1773940805541, 0.616],\n                [1773940815541, 0.631], [1773940825541, 0.646], [1773940835541, 0.659],\n                [1773940845541, 0.67], [1773940855541, 0.68], [1773940865541, 0.688],\n                [1773940875541, 0.694], [1773940885541, 0.698], [1773940895541, 0.7],\n                [1773940905541, 0.7], [1773940915541, 0.698], [1773940925541, 0.694],\n                [1773940935541, 0.688], [1773940945541, 0.68], [1773940955541, 0.671],\n                [1773940965541, 0.66], [1773940975541, 0.647], [1773940985541, 0.633],\n                [1773940995541, 0.617], [1773941005541, 0.6], [1773941015541, 0.582],\n                [1773941025541, 0.564], [1773941035541, 0.545], [1773941045541, 0.525],\n                [1773941055541, 0.505], [1773941065541, 0.485], [1773941075541, 0.465],\n                [1773941085541, 0.446], [1773941095541, 0.427], [1773941105541, 0.408]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#f78166\" },\n            \"itemStyle\": { \"color\": \"#f78166\" }\n        },\n        {\n            \"name\": \"Temperatura · °C\",\n            \"metric\": \"°C\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 1,\n            \"data\": [\n                [1773940215541, 22.0], [1773940225541, 22.125], [1773940235541, 22.249],\n                [1773940245541, 22.371], [1773940255541, 22.491], [1773940265541, 22.607],\n                [1773940275541, 22.719], [1773940285541, 22.826], [1773940295541, 22.928],\n                [1773940305541, 23.022], [1773940315541, 23.11], [1773940325541, 23.19],\n                [1773940335541, 23.262], [1773940345541, 23.325], [1773940355541, 23.379],\n                [1773940365541, 23.423], [1773940375541, 23.458], [1773940385541, 23.482],\n                [1773940395541, 23.496], [1773940405541, 23.5], [1773940415541, 23.493],\n                [1773940425541, 23.476], [1773940435541, 23.449], [1773940445541, 23.411],\n                [1773940455541, 23.364], [1773940465541, 23.307], [1773940475541, 23.241],\n                [1773940485541, 23.167], [1773940495541, 23.085], [1773940505541, 22.995],\n                [1773940515541, 22.898], [1773940525541, 22.795], [1773940535541, 22.686],\n                [1773940545541, 22.572], [1773940555541, 22.455], [1773940565541, 22.335],\n                [1773940575541, 22.212], [1773940585541, 22.087], [1773940595541, 21.962],\n                [1773940605541, 21.838], [1773940615541, 21.714], [1773940625541, 21.593],\n                [1773940635541, 21.474], [1773940645541, 21.359], [1773940655541, 21.248],\n                [1773940665541, 21.143], [1773940675541, 21.043], [1773940685541, 20.95],\n                [1773940695541, 20.865], [1773940705541, 20.787], [1773940715541, 20.718],\n                [1773940725541, 20.658], [1773940735541, 20.606], [1773940745541, 20.565],\n                [1773940755541, 20.534], [1773940765541, 20.512], [1773940775541, 20.502],\n                [1773940785541, 20.501], [1773940795541, 20.511], [1773940805541, 20.531],\n                [1773940815541, 20.562], [1773940825541, 20.602], [1773940835541, 20.652],\n                [1773940845541, 20.712], [1773940855541, 20.78], [1773940865541, 20.857],\n                [1773940875541, 20.942], [1773940885541, 21.034], [1773940895541, 21.133],\n                [1773940905541, 21.238], [1773940915541, 21.348], [1773940925541, 21.462],\n                [1773940935541, 21.581], [1773940945541, 21.702], [1773940955541, 21.826],\n                [1773940965541, 21.95], [1773940975541, 22.075], [1773940985541, 22.2],\n                [1773940995541, 22.323], [1773941005541, 22.443], [1773941015541, 22.561],\n                [1773941025541, 22.675], [1773941035541, 22.784], [1773941045541, 22.888],\n                [1773941055541, 22.985], [1773941065541, 23.076], [1773941075541, 23.159],\n                [1773941085541, 23.235], [1773941095541, 23.301], [1773941105541, 23.359]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#F2CC0C\" },\n            \"itemStyle\": { \"color\": \"#F2CC0C\" }\n        },\n        {\n            \"name\": \"Circuito A · V\",\n            \"metric\": \"V\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 2,\n            \"data\": [\n                [1773940215541, 219.4], [1773940225541, 219.6], [1773940235541, 219.9],\n                [1773940245541, 220.1], [1773940255541, 220.4], [1773940265541, 220.6],\n                [1773940275541, 220.8], [1773940285541, 220.9], [1773940295541, 221.0],\n                [1773940305541, 221.1], [1773940315541, 221.1], [1773940325541, 221.0],\n                [1773940335541, 220.9], [1773940345541, 220.7], [1773940355541, 220.5],\n                [1773940365541, 220.3], [1773940375541, 220.1], [1773940385541, 219.9],\n                [1773940395541, 219.7], [1773940405541, 219.5], [1773940415541, 219.4],\n                [1773940425541, 219.3], [1773940435541, 219.2], [1773940445541, 219.2],\n                [1773940455541, 219.3], [1773940465541, 219.4], [1773940475541, 219.6],\n                [1773940485541, 219.8], [1773940495541, 220.0], [1773940505541, 220.2],\n                [1773940515541, 220.5], [1773940525541, 220.7], [1773940535541, 220.9],\n                [1773940545541, 221.0], [1773940555541, 221.1], [1773940565541, 221.2],\n                [1773940575541, 221.2], [1773940585541, 221.1], [1773940595541, 221.0],\n                [1773940605541, 220.9], [1773940615541, 220.7], [1773940625541, 220.5],\n                [1773940635541, 220.3], [1773940645541, 220.1], [1773940655541, 219.9],\n                [1773940665541, 219.7], [1773940675541, 219.5], [1773940685541, 219.4],\n                [1773940695541, 219.3], [1773940705541, 219.2], [1773940715541, 219.2],\n                [1773940725541, 219.3], [1773940735541, 219.5], [1773940745541, 219.7],\n                [1773940755541, 219.9], [1773940765541, 220.1], [1773940775541, 220.3],\n                [1773940785541, 220.5], [1773940795541, 220.7], [1773940805541, 220.9],\n                [1773940815541, 221.0], [1773940825541, 221.1], [1773940835541, 221.2],\n                [1773940845541, 221.2], [1773940855541, 221.1], [1773940865541, 221.0],\n                [1773940875541, 220.8], [1773940885541, 220.6], [1773940895541, 220.4],\n                [1773940905541, 220.2], [1773940915541, 219.9], [1773940925541, 219.7],\n                [1773940935541, 219.5], [1773940945541, 219.3], [1773940955541, 219.2],\n                [1773940965541, 219.2], [1773940975541, 219.3], [1773940985541, 219.4],\n                [1773940995541, 219.6], [1773941005541, 219.8], [1773941015541, 220.0],\n                [1773941025541, 220.2], [1773941035541, 220.4], [1773941045541, 220.6],\n                [1773941055541, 220.8], [1773941065541, 220.9], [1773941075541, 221.0],\n                [1773941085541, 221.1], [1773941095541, 221.1], [1773941105541, 221.0]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#d2a8ff\" },\n            \"itemStyle\": { \"color\": \"#d2a8ff\" }\n        },\n        {\n            \"name\": \"Circuito A · A\",\n            \"metric\": \"A\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 3,\n            \"data\": [\n                [1773940215541, 5.47], [1773940225541, 5.69], [1773940235541, 5.91],\n                [1773940245541, 6.13], [1773940255541, 6.33], [1773940265541, 6.52],\n                [1773940275541, 6.70], [1773940285541, 6.86], [1773940295541, 7.00],\n                [1773940305541, 7.11], [1773940315541, 7.19], [1773940325541, 7.25],\n                [1773940335541, 7.28], [1773940345541, 7.28], [1773940355541, 7.25],\n                [1773940365541, 7.20], [1773940375541, 7.12], [1773940385541, 7.01],\n                [1773940395541, 6.88], [1773940405541, 6.73], [1773940415541, 6.55],\n                [1773940425541, 6.36], [1773940435541, 6.16], [1773940445541, 5.95],\n                [1773940455541, 5.73], [1773940465541, 5.50], [1773940475541, 5.28],\n                [1773940485541, 5.05], [1773940495541, 4.83], [1773940505541, 4.62],\n                [1773940515541, 4.43], [1773940525541, 4.25], [1773940535541, 4.09],\n                [1773940545541, 3.96], [1773940555541, 3.84], [1773940565541, 3.75],\n                [1773940575541, 3.69], [1773940585541, 3.66], [1773940595541, 3.65],\n                [1773940605541, 3.67], [1773940615541, 3.72], [1773940625541, 3.80],\n                [1773940635541, 3.91], [1773940645541, 4.04], [1773940655541, 4.19],\n                [1773940665541, 4.36], [1773940675541, 4.55], [1773940685541, 4.75],\n                [1773940695541, 4.96], [1773940705541, 5.18], [1773940715541, 5.41],\n                [1773940725541, 5.64], [1773940735541, 5.87], [1773940745541, 6.09],\n                [1773940755541, 6.29], [1773940765541, 6.49], [1773940775541, 6.67],\n                [1773940785541, 6.83], [1773940795541, 6.97], [1773940805541, 7.09],\n                [1773940815541, 7.18], [1773940825541, 7.25], [1773940835541, 7.29],\n                [1773940845541, 7.30], [1773940855541, 7.28], [1773940865541, 7.23],\n                [1773940875541, 7.16], [1773940885541, 7.06], [1773940895541, 6.93],\n                [1773940905541, 6.78], [1773940915541, 6.61], [1773940925541, 6.43],\n                [1773940935541, 6.23], [1773940945541, 6.02], [1773940955541, 5.80],\n                [1773940965541, 5.57], [1773940975541, 5.34], [1773940985541, 5.11],\n                [1773940995541, 4.89], [1773941005541, 4.68], [1773941015541, 4.48],\n                [1773941025541, 4.30], [1773941035541, 4.14], [1773941045541, 3.99],\n                [1773941055541, 3.87], [1773941065541, 3.77], [1773941075541, 3.70],\n                [1773941085541, 3.66], [1773941095541, 3.65], [1773941105541, 3.66]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#ffa657\" },\n            \"itemStyle\": { \"color\": \"#ffa657\" }\n        },\n        {\n            \"name\": \"Red · Hz\",\n            \"metric\": \"Hz\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 4,\n            \"data\": [\n                [1773940215541, 49.98], [1773940225541, 50.01], [1773940235541, 50.02],\n                [1773940245541, 49.99], [1773940255541, 50.00], [1773940265541, 50.03],\n                [1773940275541, 50.01], [1773940285541, 49.97], [1773940295541, 49.98],\n                [1773940305541, 50.00], [1773940315541, 50.02], [1773940325541, 50.01],\n                [1773940335541, 49.99], [1773940345541, 50.00], [1773940355541, 49.98],\n                [1773940365541, 50.01], [1773940375541, 50.03], [1773940385541, 50.02],\n                [1773940395541, 50.00], [1773940405541, 49.98], [1773940415541, 49.97],\n                [1773940425541, 50.00], [1773940435541, 50.01], [1773940445541, 50.02],\n                [1773940455541, 50.00], [1773940465541, 49.99], [1773940475541, 50.01],\n                [1773940485541, 50.02], [1773940495541, 50.00], [1773940505541, 49.98],\n                [1773940515541, 49.97], [1773940525541, 49.99], [1773940535541, 50.01],\n                [1773940545541, 50.02], [1773940555541, 50.00], [1773940565541, 49.98],\n                [1773940575541, 50.00], [1773940585541, 50.01], [1773940595541, 50.02],\n                [1773940605541, 50.00], [1773940615541, 49.99], [1773940625541, 49.97],\n                [1773940635541, 50.00], [1773940645541, 50.01], [1773940655541, 50.03],\n                [1773940665541, 50.02], [1773940675541, 50.00], [1773940685541, 49.98],\n                [1773940695541, 49.97], [1773940705541, 50.00], [1773940715541, 50.01],\n                [1773940725541, 50.02], [1773940735541, 50.00], [1773940745541, 49.99],\n                [1773940755541, 50.01], [1773940765541, 50.02], [1773940775541, 50.00],\n                [1773940785541, 49.98], [1773940795541, 49.97], [1773940805541, 50.00],\n                [1773940815541, 50.01], [1773940825541, 50.02], [1773940835541, 50.00],\n                [1773940845541, 49.99], [1773940855541, 49.97], [1773940865541, 50.00],\n                [1773940875541, 50.01], [1773940885541, 50.03], [1773940895541, 50.02],\n                [1773940905541, 50.00], [1773940915541, 49.98], [1773940925541, 49.97],\n                [1773940935541, 50.00], [1773940945541, 50.01], [1773940955541, 50.02],\n                [1773940965541, 50.00], [1773940975541, 49.99], [1773940985541, 50.01],\n                [1773940995541, 50.02], [1773941005541, 50.00], [1773941015541, 49.98],\n                [1773941025541, 49.97], [1773941035541, 50.00], [1773941045541, 50.01],\n                [1773941055541, 50.02], [1773941065541, 50.00], [1773941075541, 49.99],\n                [1773941085541, 49.97], [1773941095541, 50.00], [1773941105541, 50.01]\n            ],\n            \"smooth\": false, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#79c0ff\" },\n            \"itemStyle\": { \"color\": \"#79c0ff\" }\n        },\n        {\n            \"name\": \"Circuito A · cos φ\",\n            \"metric\": \"cos φ\",\n            \"type\": \"line\",\n            \"yAxisIndex\": 5,\n            \"data\": [\n                [1773940215541, 0.91], [1773940225541, 0.912], [1773940235541, 0.914],\n                [1773940245541, 0.916], [1773940255541, 0.918], [1773940265541, 0.919],\n                [1773940275541, 0.921], [1773940285541, 0.922], [1773940295541, 0.923],\n                [1773940305541, 0.924], [1773940315541, 0.924], [1773940325541, 0.923],\n                [1773940335541, 0.922], [1773940345541, 0.921], [1773940355541, 0.919],\n                [1773940365541, 0.917], [1773940375541, 0.915], [1773940385541, 0.913],\n                [1773940395541, 0.911], [1773940405541, 0.909], [1773940415541, 0.907],\n                [1773940425541, 0.906], [1773940435541, 0.905], [1773940445541, 0.904],\n                [1773940455541, 0.904], [1773940465541, 0.905], [1773940475541, 0.906],\n                [1773940485541, 0.907], [1773940495541, 0.909], [1773940505541, 0.911],\n                [1773940515541, 0.913], [1773940525541, 0.915], [1773940535541, 0.917],\n                [1773940545541, 0.919], [1773940555541, 0.921], [1773940565541, 0.922],\n                [1773940575541, 0.923], [1773940585541, 0.924], [1773940595541, 0.924],\n                [1773940605541, 0.923], [1773940615541, 0.922], [1773940625541, 0.92],\n                [1773940635541, 0.918], [1773940645541, 0.916], [1773940655541, 0.914],\n                [1773940665541, 0.912], [1773940675541, 0.91], [1773940685541, 0.908],\n                [1773940695541, 0.906], [1773940705541, 0.905], [1773940715541, 0.904],\n                [1773940725541, 0.904], [1773940735541, 0.905], [1773940745541, 0.906],\n                [1773940755541, 0.908], [1773940765541, 0.91], [1773940775541, 0.912],\n                [1773940785541, 0.914], [1773940795541, 0.916], [1773940805541, 0.918],\n                [1773940815541, 0.92], [1773940825541, 0.921], [1773940835541, 0.922],\n                [1773940845541, 0.923], [1773940855541, 0.924], [1773940865541, 0.923],\n                [1773940875541, 0.922], [1773940885541, 0.921], [1773940895541, 0.919],\n                [1773940905541, 0.917], [1773940915541, 0.915], [1773940925541, 0.913],\n                [1773940935541, 0.911], [1773940945541, 0.909], [1773940955541, 0.907],\n                [1773940965541, 0.906], [1773940975541, 0.905], [1773940985541, 0.904],\n                [1773940995541, 0.904], [1773941005541, 0.905], [1773941015541, 0.907],\n                [1773941025541, 0.909], [1773941035541, 0.911], [1773941045541, 0.913],\n                [1773941055541, 0.915], [1773941065541, 0.917], [1773941075541, 0.919],\n                [1773941085541, 0.921], [1773941095541, 0.922], [1773941105541, 0.923]\n            ],\n            \"smooth\": true, \"connectNulls\": false,\n            \"lineStyle\": { \"width\": 1, \"color\": \"#56d364\" },\n            \"itemStyle\": { \"color\": \"#56d364\" }\n        }\n    ],\n    \"colLabels\": {\n        \"Circuito A\": \"col-circuito-a\",\n        \"Circuito B\": \"col-circuito-b\",\n        \"Circuito C\": \"col-circuito-c\"\n    }\n}",
        "x": 190,
        "y": 280,
        "wires": []
    },
    {
        "id": "441d78e46469b939",
        "type": "function",
        "z": "insight-test-tab",
        "g": "956b4d33dec4e8d4",
        "name": "Mock dinámico por rango",
        "func": "// ── Normalizar entrada según el tipo de acción ──────────────────────────\nlet desde, hasta;\n\nconst action  = msg.payload && msg.payload.action;\nconst value   = msg.payload && msg.payload.value;\n\n// Asegurate que set_horas acepte hasta 720 horas (30 días)\nif (action === 'set_horas') {\n    const horas = Math.min(value, 720); // cap en 30 días\n    hasta = Date.now();\n    desde = hasta - (horas * 3600000);\n} else if (action === 'save_state' && value) {\n    const state = value;\n\n    if (state.tpAbsoluto && state.tpFrom && state.tpTo) {\n        // Rango absoluto explícito\n        desde = new Date(state.tpFrom).getTime();\n        hasta = new Date(state.tpTo).getTime();\n    } else {\n        // Rango relativo por rangoActivo (horas)\n        const horas = state.rangoActivo || 1;\n        hasta = Date.now();\n        desde = hasta - (horas * 3600000);\n    }\n\n} else {\n    // Cualquier otro mensaje → ignorar\n    return null;\n}\n\n// Validar que los timestamps sean coherentes\nif (!desde || !hasta || hasta <= desde) return null;\n\n// ── Generar series mock ──────────────────────────────────────────────────\nconst duracion = hasta - desde;\nconst MAX_PUNTOS = 2000;\nconst MIN_INTERVALO = 10000; // 10 seg mínimo para rangos cortos\nconst intervalo = Math.max(MIN_INTERVALO, Math.floor(duracion / MAX_PUNTOS));\nconst puntos = Math.min(MAX_PUNTOS, Math.floor(duracion / intervalo));\n\nconst mkData = (fn) => Array.from({ length: puntos }, (_, i) => [\n    desde + i * intervalo,\n    parseFloat(fn(i).toFixed(3))\n]);\n\nconst series = [\n    {\n        name: 'Circuito A · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 1.2 + Math.sin(i / 8) * 0.4),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#58a6ff' },\n        itemStyle: { color: '#58a6ff' }\n    },\n    {\n        name: 'Circuito B · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.8 + Math.cos(i / 6) * 0.3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#3fb950' },\n        itemStyle: { color: '#3fb950' }\n    },\n    {\n        name: 'Circuito C · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.5 + Math.sin(i / 10 + 1) * 0.2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#f78166' },\n        itemStyle: { color: '#f78166' }\n    },\n    {\n        name: 'Temperatura · °C', metric: '°C', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 22 + Math.sin(i / 12) * 1.5),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#F2CC0C' },\n        itemStyle: { color: '#F2CC0C' }\n    }\n];\n\nconst colLabels = {\n    'Circuito A': 'col-circuito-a',\n    'Circuito B': 'col-circuito-b',\n    'Circuito C': 'col-circuito-c'\n};\n\n// ── Status legible ───────────────────────────────────────────────────────\nconst mins = Math.round(duracion / 60000);\nnode.status({ fill: 'green', shape: 'dot', text: `${puntos} pts · ${mins} min` });\n\nnode.status({fill:'green', shape:'dot', text:'Periodo solicitado: ' +  duracion.length });\nmsg.topic   = 'insight/data';\nmsg.payload = { series, colLabels };\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "2b6f290c77498d77",
        "type": "function",
        "z": "insight-test-tab",
        "g": "63c219259c5f19bd",
        "name": "Mock dinámico por rango",
        "func": "// ── Normalizar entrada según el tipo de acción ──────────────────────────\nlet desde, hasta;\n\nconst action = msg.payload && msg.payload.action;\nconst value  = msg.payload && msg.payload.value;\n\nif (action === 'set_horas') {\n    const horas = Math.min(value, 720);\n    hasta = Date.now();\n    desde = hasta - (horas * 3600000);\n} else if (action === 'save_state' && value) {\n    const state = value;\n    if (state.tpAbsoluto && state.tpFrom && state.tpTo) {\n        desde = new Date(state.tpFrom).getTime();\n        hasta = new Date(state.tpTo).getTime();\n    } else {\n        const horas = state.rangoActivo || 1;\n        hasta = Date.now();\n        desde = hasta - (horas * 3600000);\n    }\n} else {\n    return null;\n}\n\nif (!desde || !hasta || hasta <= desde) return null;\n\n// ── Generar series mock ──────────────────────────────────────────────────\nconst duracion     = hasta - desde;\nconst MAX_PUNTOS   = 2000;\nconst MIN_INTERVALO = 10000;\nconst intervalo    = Math.max(MIN_INTERVALO, Math.floor(duracion / MAX_PUNTOS));\nconst puntos       = Math.min(MAX_PUNTOS, Math.floor(duracion / intervalo));\n\nconst mkData = (fn, decimals = 3) => Array.from({ length: puntos }, (_, i) => [\n    desde + i * intervalo,\n    parseFloat(fn(i).toFixed(decimals))\n]);\n\nconst series = [\n    {\n        name: 'Circuito A · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 1.2 + Math.sin(i / 8) * 0.4),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#58a6ff' },\n        itemStyle: { color: '#58a6ff' }\n    },\n    {\n        name: 'Circuito B · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.8 + Math.cos(i / 6) * 0.3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#3fb950' },\n        itemStyle: { color: '#3fb950' }\n    },\n    {\n        name: 'Circuito C · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.5 + Math.sin(i / 10 + 1) * 0.2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#f78166' },\n        itemStyle: { color: '#f78166' }\n    },\n    {\n        name: 'Temperatura · °C', metric: '°C', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 22 + Math.sin(i / 12) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#F2CC0C' },\n        itemStyle: { color: '#F2CC0C' }\n    },\n    {\n        name: 'Circuito A · V', metric: 'V', type: 'line',\n        yAxisIndex: 2,\n        data: mkData(i => 220 + Math.sin(i / 15) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#d2a8ff' },\n        itemStyle: { color: '#d2a8ff' }\n    },\n    {\n        name: 'Circuito A · A', metric: 'A', type: 'line',\n        yAxisIndex: 3,\n        data: mkData(i => 5.5 + Math.sin(i / 8) * 1.8, 2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#ffa657' },\n        itemStyle: { color: '#ffa657' }\n    },\n    {\n        name: 'Red · Hz', metric: 'Hz', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 50 + (Math.sin(i / 5) * 0.03), 2),\n        smooth: false, connectNulls: false,\n        lineStyle: { width: 1, color: '#79c0ff' },\n        itemStyle: { color: '#79c0ff' }\n    },\n    {\n        name: 'Circuito A · cos φ', metric: 'cos φ', type: 'line',\n        yAxisIndex: 5,\n        data: mkData(i => 0.914 + Math.sin(i / 20) * 0.01, 3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#56d364' },\n        itemStyle: { color: '#56d364' }\n    }\n];\n\nconst colLabels = {\n    'Circuito A': 'col-circuito-a',\n    'Circuito B': 'col-circuito-b',\n    'Circuito C': 'col-circuito-c',\n    'Temperatura': 'col-temperatura',\n    'Red': 'col-red'\n};\n\n// ── Status ───────────────────────────────────────────────────────────────\nconst mins = Math.round(duracion / 60000);\nnode.status({ fill: 'green', shape: 'dot', text: `${puntos} pts · ${mins} min` });\n\nmsg.topic   = 'insight/data';\nmsg.payload = { series, colLabels };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "insight-test-inject",
        "type": "inject",
        "z": "insight-test-tab",
        "g": "7b0b6a60e26d89a6",
        "name": "Disparar datos mock",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "3a529a96b82dc6e3"
            ]
        ]
    },
    {
        "id": "insight-test-debug",
        "type": "debug",
        "z": "insight-test-tab",
        "g": "7b0b6a60e26d89a6",
        "name": "Ver series",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "3a529a96b82dc6e3",
        "type": "function",
        "z": "insight-test-tab",
        "g": "7b0b6a60e26d89a6",
        "name": "Mock dinámico por rango",
        "func": "// ── Normalizar entrada según el tipo de acción ──────────────────────────\nlet desde, hasta;\n\nconst action = msg.payload && msg.payload.action;\nconst value  = msg.payload && msg.payload.value;\n\nif (action === 'set_horas') {\n    const horas = Math.min(value, 720);\n    hasta = Date.now();\n    desde = hasta - (horas * 3600000);\n} else if (action === 'save_state' && value) {\n    const state = value;\n    if (state.tpAbsoluto && state.tpFrom && state.tpTo) {\n        desde = new Date(state.tpFrom).getTime();\n        hasta = new Date(state.tpTo).getTime();\n    } else {\n        const horas = state.rangoActivo || 1;\n        hasta = Date.now();\n        desde = hasta - (horas * 3600000);\n    }\n} else {\n    return null;\n}\n\nif (!desde || !hasta || hasta <= desde) return null;\n\n// ── Generar series mock ──────────────────────────────────────────────────\nconst duracion     = hasta - desde;\nconst MAX_PUNTOS   = 2000;\nconst MIN_INTERVALO = 10000;\nconst intervalo    = Math.max(MIN_INTERVALO, Math.floor(duracion / MAX_PUNTOS));\nconst puntos       = Math.min(MAX_PUNTOS, Math.floor(duracion / intervalo));\n\nconst mkData = (fn, decimals = 3) => Array.from({ length: puntos }, (_, i) => [\n    desde + i * intervalo,\n    parseFloat(fn(i).toFixed(decimals))\n]);\n\nconst series = [\n    {\n        name: 'Circuito A · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 1.2 + Math.sin(i / 8) * 0.4),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#58a6ff' },\n        itemStyle: { color: '#58a6ff' }\n    },\n    {\n        name: 'Circuito B · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.8 + Math.cos(i / 6) * 0.3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#3fb950' },\n        itemStyle: { color: '#3fb950' }\n    },\n    {\n        name: 'Circuito C · kW', metric: 'kW', type: 'line',\n        yAxisIndex: 0,\n        data: mkData(i => 0.5 + Math.sin(i / 10 + 1) * 0.2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#f78166' },\n        itemStyle: { color: '#f78166' }\n    },\n    {\n        name: 'Temperatura · °C', metric: '°C', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 22 + Math.sin(i / 12) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#F2CC0C' },\n        itemStyle: { color: '#F2CC0C' }\n    },\n    {\n        name: 'Circuito A · V', metric: 'V', type: 'line',\n        yAxisIndex: 2,\n        data: mkData(i => 220 + Math.sin(i / 15) * 1.5, 1),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#d2a8ff' },\n        itemStyle: { color: '#d2a8ff' }\n    },\n    {\n        name: 'Circuito A · A', metric: 'A', type: 'line',\n        yAxisIndex: 3,\n        data: mkData(i => 5.5 + Math.sin(i / 8) * 1.8, 2),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#ffa657' },\n        itemStyle: { color: '#ffa657' }\n    },\n    {\n        name: 'Red · Hz', metric: 'Hz', type: 'line',\n        yAxisIndex: 1,\n        data: mkData(i => 50 + (Math.sin(i / 5) * 0.03), 2),\n        smooth: false, connectNulls: false,\n        lineStyle: { width: 1, color: '#79c0ff' },\n        itemStyle: { color: '#79c0ff' }\n    },\n    {\n        name: 'Circuito A · cos φ', metric: 'cos φ', type: 'line',\n        yAxisIndex: 5,\n        data: mkData(i => 0.914 + Math.sin(i / 20) * 0.01, 3),\n        smooth: true, connectNulls: false,\n        lineStyle: { width: 1, color: '#56d364' },\n        itemStyle: { color: '#56d364' }\n    }\n];\n\nconst colLabels = {\n    'Circuito A': 'col-circuito-a',\n    'Circuito B': 'col-circuito-b',\n    'Circuito C': 'col-circuito-c',\n    'Temperatura': 'col-temperatura',\n    'Red': 'col-red'\n};\n\n// ── Status ───────────────────────────────────────────────────────────────\nconst mins = Math.round(duracion / 60000);\nnode.status({ fill: 'green', shape: 'dot', text: `${puntos} pts · ${mins} min` });\n\nmsg.topic   = 'insight/data';\nmsg.payload = { series, colLabels };\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 180,
        "wires": [
            [
                "insight-test-debug"
            ]
        ]
    },
    {
        "id": "insight-test-group",
        "type": "ui-group",
        "name": "Insight Test",
        "page": "insight-test-page",
        "width": 14,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "insight-test-page",
        "type": "ui-page",
        "name": "Insight Test",
        "ui": "2880a75520fcc1d5",
        "path": "/insight-test",
        "icon": "eye",
        "layout": "grid",
        "theme": "insight-test-theme",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 9,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2880a75520fcc1d5",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "insight-test-theme",
        "type": "ui-theme",
        "name": "Dark EnergIAM",
        "colors": {
            "surface": "#24292e",
            "primary": "#58a6ff",
            "bgPage": "#0d1117",
            "groupBg": "#161b22",
            "groupOutline": "#30363d"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]